html,
body {
	margin: 0;
}

#lightning,
.slds-scope {
	font-family: Poppins, sans-serif !important;
}

.slds-input {
	background: transparent !important;
	border: 0 !important;
}

.slds-input::placeholder {
	color: #aa90b9 !important;
}

#auraErrorMessage {
	display: none !important;
}

.slds-dropdown-trigger {
	border-bottom: 3px solid #db3c32;
}

.slds-scope label {
	color: #fff !important;
}

.slds-datepicker__month,
.slds-datepicker__filter_month,
.slds-select,
.slds-listbox__option,
.slds-select option {
	color: #000 !important;
}

.slds-progress-bar {
	background: #00000036 !important;
}
.slds-progress-bar,
.slds-progress-bar__value {
	border-radius: 3px !important;
}

.slds-scope .slds-progress-bar__value {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 1) 100%
	) !important;
}

.slds-scope .slds-progress-bar_large,
.slds-scope .slds-progress-bar--large {
	height: 0.4rem !important;
}
