.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #ffffff;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

html,
body {
	margin: 0;
}

#lightning,
.slds-scope {
	font-family: Poppins, sans-serif !important;
}

.slds-input {
	background: transparent !important;
	border: 0 !important;
}

.slds-input::placeholder {
	color: #aa90b9 !important;
}

#auraErrorMessage {
	display: none !important;
}

.slds-dropdown-trigger {
	border-bottom: 3px solid #db3c32;
}

.slds-scope label {
	color: #fff !important;
}

.slds-datepicker__month,
.slds-datepicker__filter_month,
.slds-select,
.slds-listbox__option,
.slds-select option {
	color: #000 !important;
}

.slds-progress-bar {
	background: #00000036 !important;
}
.slds-progress-bar,
.slds-progress-bar__value {
	border-radius: 3px !important;
}

.slds-scope .slds-progress-bar__value {
	background: linear-gradient(
		90deg,
		rgba(255, 255, 255, 0.5) 0%,
		rgba(255, 255, 255, 1) 100%
	) !important;
}

.slds-scope .slds-progress-bar_large,
.slds-scope .slds-progress-bar--large {
	height: 0.4rem !important;
} */
