html,
body {
	margin: 0;
}

#lightning,
.slds-scope {
	font-family: Poppins, sans-serif !important;
}

.slds-input {
	background: transparent !important;
	border: 0 !important;
}

.slds-input::placeholder {
	color: #aa90b9 !important;
}

.slds-dropdown-trigger label {
	/*display: none !important;*/
}

.slds-form-element {
	/*border-bottom: 3px solid #db3c32;*/
}

.slds-scope label {
	color: #fff !important;
}

.slds-datepicker__month,
.slds-datepicker__filter_month,
.slds-select,
.slds-select option {
	color: #000 !important;
}
