/* add your CSS here */

h3 {
  text-align: left;
  margin: 5px auto 15px auto;
  text-shadow: 1px 1px #ccc;
}

.container {
  margin: 0 auto;
  padding: 10px;
  border: 2px solid #ccc;
}

.description {
  margin-top: 10px;
  font-size: 0.8em;
  padding: 6px 8px 6px 8px;
  text-shadow: 1px 1px #ccc;
}

.no-dots {
  list-style: none;
}

.no-padding {
  padding: 0;
}

.description,
img {
  border: 1px solid #ccc;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.container, img {
  width: 300px;
}
