body {
  margin: 0;
}

.header {
  width: 100%;
}

.logo {
  width: 100%;
  text-align: center;
}

.logo img {
  width: 20vw;
  margin-top: 10px;
}

.project__title {
  width: 100%;
  text-align: center;
  padding-top: 3%;
  padding-bottom: 2%;
}

.project__title h1 {
  margin: 0 auto;
  font-weight: 100;
  font-size: 10vw;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
}

.hero {
  width: 100%;
}

.hero__content {
  width: 100%;
  background-image: url("/v2/src/hero.jpg");
  background-size: cover;
  position: relative;
  height: 85vw;
}

.hero__content h2 {
  position: relative;
  top: 30%;
  margin: 0 auto;
  text-align: center;
  font-family: monospace;
  font-weight: lighter;
  color: white;
  font-size: 7vw;
  margin: 0 22%;
  text-transform: uppercase;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.08);
  text-shadow: 0 0 8px #040404;
}

.content {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.featured__title {
  width: 100%;
  padding: 12px;
}

.featured__title h1 {
  margin: 10px 0;
  text-transform: uppercase;
  font-family: 'Quicksand', serif;
  text-align: center;
  font-size: 10vw;
}

.featured__work {
  width: 100%;
  padding: 0 8px 0 8px;
}

.featured__work img {
  max-width: 100%;
  height: auto;
}

.featured__work h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 10vw;
  margin-bottom: 2px;
}

.featured__work h4 {
  font-size: 4vw;
  margin-bottom: 20px;
}

.featured__work h2,
h4
{
  font-family: 'Karma', serif;
}

hr {
  border-style: dotted;
  opacity: 0.2;
  margin-bottom: 8%;
}

@media screen and (min-width: 870px) {

}
