/* add your CSS here */
#title {
  text-align: left;
  margin: 8px 0px 15px 0px;
}

.container, img {
  width: 300px;
}

img {
  padding-bottom: 8px;
}

.container {
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.inner {
  border: 1px solid #ccc;
  padding: 5px 10px;
  font-size: 13px;
}

.italic {
  font-style: italic;
  line-height: 120%;
}

.justify {
  text-align: justify;
  text-justify: none;
}

.centered {
  list-style: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.centered span {
  font-weight: bold;
}
