.container {
  width: 300px;
  background-color: #bdac5c;
  border: 6px solid #473438;
  border-radius: 2px;
  margin: 0 auto;
  font-family: sans-serif, helvetica;
}

.cardName {
  width: 87%;
  font-size: 11px;
  text-transform: uppercase;
  margin: 7px auto 3px auto;
  padding: 3px;
  border: 3px outset rgba(112, 88, 52, 0.8);
}

.cardName img {
  float: right;
  width: 25px;
}

.cardName h1 {
  margin: 2px;
  display: inline;
  font-family: 'Vollkorn', sans-serif;
}

.stars {
  text-align: right;
  margin-right: 32px;
}

.stars img {
  width: 15px;
  margin: 0;
}

.stars ul {
  list-style: none;
  margin: 0;
}

.stars li {
  float: right;
  margin-left: 2px;
}

.cardImage {
  text-align: center;
}

.cardImage img {
  width: 75%;
  border: 5px solid #ccc;
  margin-bottom: 7px;
}

.cardDetails {
  width: 85%;
  border: 3px double #9b2e37;
  margin: 0 auto 10px auto;
  padding: 6px;
  font-size: 12px;
}

.cardDetails h2 {
  /* margin: 3px 5px; */
  padding-bottom: 3px;
  font-size: 13px;
  margin: 0;
  font-family: 'Vollkorn', sans-serif;
}

.cardDetails p {
  font-style: italic;
  font-size: 10px;
  text-align: justify;
  margin: 0;
  /* margin: 0 5px 0 5px; */
}

.cardDetails hr {
  border: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 25px 0 4px 0;
}

.rightAlign {
  text-align: right;
}

.shadow {
  -webkit-box-shadow:6px 4px 5px -3px #735638;
  -moz-box-shadow: 6px 4px 5px -3px #735638;
  box-shadow: 6px 4px 5px -3px #735638;
}
