body,
html {
  margin: 0;
}

img {
  max-width: 100%;
}

header,
footer,
section,
nav {
  box-sizing: border-box;
}

a,
h1,
h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.navigation {
  width: 80%;
}

.logo {
  width: 20%;
}

.hero {
  width: 100%;
  text-align: center;
}

.intro {
  width: 80%;
  margin: auto;
}

.hero {
  height: 100vh;
  min-height: 400px;
}

.hero-img {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/src/hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height: 100vh;
}

.container {
  width: 100%;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.section-title {
  width: 100%;
  text-align: center;
}

.section-title h1 {
  margin: 35px 0 35px 0;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
}

.content {
  width: 100%;
}

.description {
  font-size: 2em;
}

.contact-icons img {
  max-width: 256px;
}

input {
  margin: 20px auto 20px auto;
}

/* .footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
} */

#about {
  background-color: #fff;
}

#works {
  background-color: #ececec;
}

#skills {
  background-image: url('/src/city.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

#contacts {
  background-color: #fff;
}

#foot {
  background-color: #252525;
}

@media screen and (max-width: 700px) {

  .navigation {
    display: none;
  }

  .logo {
    width: 100%;
  }

  .logo img {
    width: 80px;
    padding: 3%;
  }

  /* .hero {
    height: 100vh;
    min-height: 400px;
  } */

  .intro h1 {
    padding: 150px 0;
    font-size: 2.4em;
    font-weight: 400;
    font-size-adjust: auto;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px rgba(6, 6, 6, 0.6196078431372549);
  }

  .section-title h1 {
    margin: 35px 0 35px 0;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
  }

  .profile-img {
    border-radius: 100%;
    width: 70%;
    max-width: 300px;
  }

  .description {
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
    margin: 50px auto;
    max-width: 340px;
  }

  .skill-img {
    width: 120px;
  }

  h2 {
    font-weight: lighter;
    font-size: 1.2rem;
    margin: 30px;
  }

  .works-img {
    width: 80%;
    max-width: 360px;
    border-radius: 3%;
  }

  .contact-icons {
    width: 33%;
  }

  .contact-icons img {
    max-width: 48px;
  }

  #contact-wrapper {
    max-width: 468px;
    margin: 0 auto;
    padding: 12px;
  }

  .profile-wrap {
    width: 100%;
  }
}

@media screen and (min-width: 701px) {

  .logo {
    width: 15%;
  }

  .logo img {
    width: 70px;
    padding: 5%;
    margin-top: 5px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
  }

  .navigation a {
    width: 15%;
    padding: 14px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
  }

  .intro h1 {
    padding: 150px 0;
    margin-top: 20%;
    font-size: 4.0em;
    font-weight: 400;
    font-size-adjust: auto;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 2px rgba(6, 6, 6, 0.6196078431372549);
  }

  .section-title h1 {
    font-size: 2.2em;
    font-weight: bold;
  }

  .profile-img {
    border-radius: 100%;
    width: 70%;
    max-width: 300px;
  }

  .description {
    font-size: 1.6rem;
    text-align: center;
    width: 50%;
    margin: 50px auto;
    /* max-width: 340px; */
  }

  .profile-wrap {
    width: 46%;
  }

  #me {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

  }

}
