body,
html {
  margin: 0;
}

img {
  max-width: 100%;
}

header,
footer,
section,
nav {
  box-sizing: border-box;
}

h1,
h2 {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  margin: 0;
}

.navigation a {
  font-family: 'Poppins', 'Raleway', sans-serif;
  width: 0.9em;
  margin-bottom: 25px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

.navigation a:hover {
  box-shadow: 0 2px #fff;
}

.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.navigation {
  width: 80%;
}

.logo {
  width: 20%;
}

.hero {
  width: 100%;
  text-align: center;
}

.intro {
  width: 80%;
  height: 68%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro h1 {
  font-family: 'Raleway', sans-serif;
}

.hero {
  height: 100vh;
  min-height: 400px;
}

.hero-img {
  position: fixed;
  top: 0;
  left: 0;
  background-image: url('/src/hero.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  z-index: -1;
  height: 100vh;
}

.container {
  width: 100%;
}

#about,
#works,
#skills,
contacts {
  min-width: 341px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: -webkit-center
}

.section-title {
  width: 100%;
}

.section-title h1 {
  margin: 35px 0 35px 0;
  font-size: 1.6em;
  font-weight: bolder;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.description {
  font-size: 2em;
  font-family: 'Raleway', 'Poppins', sans-serif;
  letter-spacing: 1px;
}

.contact-icons {
  width: 33%;
}

.contact-icons img {
  max-width: 256px;
}

.contact-icons img {
  max-width: 28px;
}

#contact-wrapper {
  margin: 0 auto;
  width: 19%;
  padding: 10px 0;
}

.profile-wrap {
  width: 40%;
}

input {
  margin: 20px auto 20px auto;
}

input[type="text"] {
  height: 40px;
  width: 200px;
  font-size: 17px;
  padding: 0px 10px;
}

input[type=submit] {
  background-color: #3a3a3a;
  border: none;
  color: white;
  padding: 13px 42px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.column {
  flex-direction: column;
}

.big {
  width: 80%;
  margin-left:  20px;
}

.medium {
  width: 67%;
}

.very-small {
  width: 33%;
}

.spacer {
  padding: 15px 0 20px 0;
}

.divider {
  width: 70%;
  height: 1px;
  background-color: #00000047;
  margin: 0 auto;
}

.about-me,
.contact-me {
  background-color: #fff;
}

.my-skills {
  background-image: url('/src/city.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.my-works {
  background-color: #ececec;
}

.footer {
  background-color: #252525;
}

.icons8-credits {
  width: 100%;
  text-align: center;
}

.icons8-credits a {
  opacity: 0.7;
  font-size: 0.8em;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 591px) {

  .divider {
    display: none;
  }

  .navigation {
    display: none;
  }

  .logo {
    width: 100%;
  }

  .logo img {
    width: 80px;
    padding: 3%;
  }

  .intro h1 {
    font-size: 2.4em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px rgba(6, 6, 6, 0.6196078431372549);
  }

  .section-title h1 {
    margin: 35px 0 35px 0;
  }

  .profile-img {
    border-radius: 100%;
    width: 70%;
    max-width: 300px;
  }

  .description {
    font-size: 1.2rem;
    text-align: center;
    padding: 11px 0 20px 0;
    max-width: 340px;
  }

  .skill-img {
    width: 120px;
  }

  h1 {
    margin-top: 22px;
  }

  h2 {
    font-weight: lighter;
    font-size: 1.2rem;
    margin: 30px;
  }

  .works-img {
    width: 80%;
    max-width: 360px;
    border-radius: 3%;
  }

  #contact-wrapper {
    padding: 12px;
    width: 30%;
  }

  .profile-wrap {
    width: 100%;
  }

  .very-small {
    width: 100%;
  }

}

@media screen and (min-width: 592px) and (max-width: 960px) {

  .logo {
    width: 20%;
  }

  .logo img {
    width: 70px;
    padding: 5%;
    margin-top: 5px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .navigation a {
    width: 15%;
    padding: 11px;

  }

  .intro h1 {
    font-size: 3.2em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px rgba(6, 6, 6, 0.6196078431372549);
  }

  .profile-img {
    border-radius: 100%;
    width: 70%;
    max-width: 300px;
  }

  .description {
    font-size: 1rem;
    text-align: justify;
  }

  .content {
    padding: 5% 0 5% 0;
  }

  .works-img {
    width: 340px;
    padding: 13px;
  }

  .skill-img {
    width: 110px;
    padding: 10px;
  }

  h2 {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 300;
  }

}

@media screen and (min-width: 961px) {

  .logo {
    width: 20%;
  }

  .logo img {
    width: 70px;
    padding: 5%;
    margin-top: 5px;
  }

  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .navigation a {
    width: 12%;
    padding: 11px 20px;
  }

  .intro h1 {
    font-size: 3.2em;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px rgba(6, 6, 6, 0.6196078431372549);
  }

  .profile-img {
    border-radius: 100%;
    width: 70%;
    max-width: 300px;
  }

  .profile-wrap p {
    width: 80%;
  }

  .description {
    font-size: 1rem;
    text-align: justify;
  }

  .content {
    padding: 4% 0;
  }

  .works-img {
    width: 340px;
    padding: 13px;
  }

  .skill-img {
    width: 160px;
    padding: 10px;
    margin-left: 22px;
  }

  h2 {
    width: 80%;
    font-size: 1.2rem;
    font-weight: 300;
  }

  #skill {
    flex-direction: row;
  }

}

@media screen and (min-width: 1040px) {

  .container {
    width: 1040px;
    margin-left: auto;
    margin-right: auto;
  }

}
